.home_image {
  background-image: url("../images/dodatkowe1.JPG");
  background-color: #774d2d;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  margin-top: -15vh;
}

h1 {
  top: 40%;
  left: 50%;
  color: white;
}

h2,
h3 {
  border-bottom: solid 2px #80614a;
}

.menu_btn {
  color: white;
}

.outsideLink {
  text-decoration: underline;
}
@media screen and (max-width: 1540px) {
  .home_image {
    height: 100vh;
    margin-top: -20vh;
  }
}

@media screen and (max-width: 1000px) {
  .menu_btn {
    color: black;
  }
  h1 {
    top: 50%;
    left: 50%;
    color: white;
  }
  .hide {
    display: none;
  }
}
